{% extends "home/base.html" %}

{% block title %}Order Success{% endblock %}

{% block content %}

<div class="container mt-5 pt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">Order Success</h1>
   
<h2>Thank you for your order!</h2>
<p>Order ID: {{ order.id }}</p>
<p>Total Paid: ${{ order.total_price }}</p>

<h3>Order Items:</h3>
<ul>
  {% for item in order.items.all %}
    <li>{{ item.quantity }} x {{ item.product.name }} - ${{ item.price }}</li>
  {% endfor %}
</ul>

<a href="{% url 'products' %}" class="btn btn-primary">Continue Shopping</a>
 </div>
</div>


{% endblock %}